/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

i.footnote {
	display: none;
}
p.indent {
	text-indent: 2rem;
}

/* Note that only Sans can be used with Arabic */
.scripturetext {
	font-size: 1.125em !important;
	line-height: 1.8rem !important;
	font-family: 'Ensign:Serif' !important;
}
.v-theme--dark .scripturetext, .v-theme--dark p {
	color: rgb(222, 225, 225);
}