/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

i.footnote {
	display: none;
}
.indent p {
	text-indent: 1em;
}
.scripturetext {
	font-size: 1.1em !important;
}